body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-icon {
    display: flex;
    color: black;
    text-decoration: none;
    
}
.logo-icon {
    height: 60px;
    width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.welcome-section {
    display: flex;
    flex-direction: column;
}

.banner-container{
    max-width: 100%;
}

