body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-logo {
    display: flex;
}

.navbar-icon {
    display: flex;
    color: black;
    text-decoration: none;
}
.logo-icon {
    height: 50px; 
    width: 50px;
    background-image: url(https://i.pinimg.com/originals/9b/61/6d/9b616d46f16675d242b9b95217c46e00.jpg);
    background-size: cover;
}

span {
    display: flex;
    width: 1px;
    align-items: center;
}

.nav-container {
    display: flex;
}

.nav-item {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}

.form-grup {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}